@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; }

a {
  outline: none;
  text-decoration: none;
  color: inherit; }

li {
  list-style-type: none;
  display: inline-block; }

@font-face {
  font-family: CaviarDreams;
  /* Гарнитура шрифта */
  src: url(../fonts/CaviarDreams.ttf);
  /* Путь к файлу со шрифтом */ }

.header__lineT, .header__lineB, .header__lineL, .header__lineR {
  position: fixed;
  z-index: 800;
  background: #fff; }

.header {
  position: relative;
  padding: 20px 20px 0;
  background-color: #fff;
  z-index: 20;
  /*Здесь короче стили для меню уже*/ }
  .header__lineT {
    top: 0;
    left: 0;
    width: 100%;
    height: 20px; }
  .header__lineB {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; }
  .header__lineL {
    left: 0;
    top: 0;
    width: 20px;
    height: 100%; }
  .header__lineR {
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    z-index: 1; }
  .header__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background-image: url(../img/back411.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-attachment: fixed;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-name: backImg;
            animation-name: backImg; }

@-webkit-keyframes backImg {
  0% {
    background-size: 120%; }
  100% {
    background-size: 100%; } }

@keyframes backImg {
  0% {
    background-size: 120%; }
  100% {
    background-size: 100%; } }
  .header__center {
    width: 100%;
    padding: 20px;
    z-index: 10; }
  .header__caption {
    font-size: 3.625em;
    color: #fff;
    text-shadow: 3px 3px 0 #456; }
  .header__capt {
    font-size: 1.75em;
    color: #cacaca; }
  .header__list {
    color: #949494;
    font-size: 1em; }
  .header__btn {
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #FFB600;
    border: 1px solid #FFB600;
    padding: 10px 2rem;
    margin-top: 20px;
    text-transform: uppercase;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out; }
    .header__btn::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #FFB600;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      -webkit-transition-property: -webkit-transform;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      -webkit-transition: .5s ease-out;
      transition: .5s ease-out; }
    .header__btn:hover::before {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
    .header__btn:hover {
      color: #000; }
  .header__bottom {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header__bText {
    color: #dbdbdb; }
  .header__down {
    -webkit-transition: .9s;
    transition: .9s; }
    .header__down:hover {
      opacity: .7; }
  .header__back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55); }
  .header__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1e1e1e;
    z-index: 900;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .9s;
    transition: .9s; }
    .header__menu-active {
      display: none;
      -webkit-transition: .9s;
      transition: .9s; }
  .header__menuList {
    width: 60%;
    z-index: 900;
    padding-top: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__items {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #969696;
    font-size: 2em;
    padding: 10px;
    cursor: pointer; }
    .header__item:hover .header__icon {
      width: 40px; }
    .header__item:hover .header__iLink {
      color: #fff; }
  .header__icon {
    display: block;
    width: 0;
    height: 1px;
    margin: 3px 0;
    background: #fff;
    -webkit-transition: .8s;
    transition: .8s; }
  .header__iLink {
    padding: 0 20px;
    -webkit-transition: .8s;
    transition: .8s;
    text-transform: uppercase; }
  .header__contacts {
    width: 40%;
    color: #fff;
    padding-top: 100px;
    background: #0f0f0f;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__contBlock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__contCapt {
    color: #FFB600;
    padding: 20px; }
  .header__contIcon {
    display: block;
    color: #969696;
    padding: 15px 10px;
    -webkit-transition: .9s;
    transition: .9s; }
    .header__contIcon:hover {
      color: #fff; }
  .header__contactDuo {
    text-align: center; }
  .header__contLink {
    font-size: 2em;
    color: #fff;
    padding: 10px;
    -webkit-transition: .8s;
    transition: .8s; }
    .header__contLink:hover {
      opacity: .5; }
  .header__fixMenu {
    position: fixed;
    width: 150px;
    height: 230px;
    top: 50%;
    right: -150px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: yellow;
    z-index: 10; }
  .header__fixBox {
    position: relative; }
  .header__fixItem {
    position: absolute;
    right: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    background: #000;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .9s;
    transition: .9s;
    padding-left: 15px; }
    .header__fixItem:hover {
      right: 95%; }
    .header__fixItem:nth-child(2) {
      top: 60px; }
    .header__fixItem:nth-child(3) {
      top: 120px; }
    .header__fixItem:nth-child(4) {
      top: 180px; }
    .header__fixItem::before {
      content: "";
      position: absolute;
      left: -5px;
      display: block;
      width: 5px;
      height: 50px;
      background: #FFB600; }
    .header__fixItem:nth-child(2)::before {
      background: #ff6200; }
    .header__fixItem:nth-child(3)::before {
      background: #00a480; }
    .header__fixItem:nth-child(4)::before {
      background: #162eae; }
  .header__fixLink {
    padding: 5px 10px;
    text-transform: uppercase; }
  .header__rightBars {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 998;
    background: #000;
    padding: 5px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
    .header__rightBars:hover .header__bar {
      width: 40px;
      background-color: #FFB600; }
  .header__bar {
    display: block;
    width: 40px;
    height: 4px;
    background: #fff;
    margin: 3px;
    -webkit-transition: .9s;
    transition: .9s; }
    .header__bar:nth-child(2) {
      width: 20px; }
    .header__bar:nth-child(3) {
      width: 40px; }
    .header__bar:nth-child(4) {
      width: 30px; }
    .header__bar-active {
      -webkit-transition: .9s;
      transition: .9s;
      background: transparent; }
      .header__bar-active .header__bar:nth-child(2),
      .header__bar-active .header__bar:nth-child(3) {
        opacity: 0; }
      .header__bar-active .header__bar:first-child {
        -webkit-transform: rotate(45deg) translateY(21px);
            -ms-transform: rotate(45deg) translateY(21px);
                transform: rotate(45deg) translateY(21px);
        width: 40px;
        background-color: #FFB600; }
      .header__bar-active .header__bar:last-child {
        -webkit-transform: rotate(-45deg) translateY(-21px);
            -ms-transform: rotate(-45deg) translateY(-21px);
                transform: rotate(-45deg) translateY(-21px);
        width: 40px;
        background-color: #FFB600; }
  .header__logoCont {
    position: absolute;
    top: 30px;
    left: 30px; }
    .header__logoCont-active {
      position: fixed;
      z-index: 998; }
  .header__left {
    position: relative; }
    .header__left::after {
      position: absolute;
      content: "KAO Web Design";
      color: #fff;
      font-size: 1em;
      font-family: CaviarDreams;
      -webkit-transition: .8s;
      transition: .8s; }
  .header__logo {
    max-width: 50px;
    margin-left: 10px;
    float: left; }

.main__abCaption, .main__skCaption {
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center; }
  .main__abCaption::after, .main__skCaption::after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background: #FFB600;
    margin: 0 auto; }

.main {
  position: relative;
  width: 100%;
  min-height: 600px;
  background: white;
  z-index: 1;
  /*---Задний фон---*/
  /*---Блок обо мне---*/
  /*---Мои навыки---*/ }
  .main__creativ {
    width: 100%;
    padding: 8rem 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    background: #fff; }
  .main__creativItem {
    text-align: center; }
  .main__creaImg {
    max-width: 100px; }
  .main__creaCapt {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 300; }
  .main__back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    background-image: url(../img/z4.jpeg);
    background-size: cover; }
  .main__about {
    position: relative;
    padding: 60px 40px;
    min-height: 600px;
    background: #fafafa;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#f6f6f6));
    background: -webkit-linear-gradient(bottom, #ffffff, #f6f6f6);
    background: linear-gradient(to top, #ffffff, #f6f6f6);
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    text-align: center; }
  .main__abTextCont {
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 20px; }
  .main__abText {
    font-size: 1.25em;
    margin: 10px 0;
    text-align: justify; }
  .main__abLink {
    position: relative;
    display: inline-block;
    background: #FFB600;
    padding: 10px;
    margin-top: 20px;
    -webkit-transition: .8s ease-out;
    transition: .8s ease-out; }
    .main__abLink:hover {
      background: #acacac; }
  .main__abLinkText {
    text-transform: uppercase;
    padding: 10px; }
  .main__abSkills {
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0; }
  .main__abImg {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
    margin: 30px auto 0;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22); }
  .main__skills {
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.52);
    padding: 60px 40px; }
  .main__skCaption {
    color: #fff; }
    .main__skCaption::after {
      background: #ff6200; }
