head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	title 
	link(rel="stylesheet", type="text/css", href="css/libs.min.css")
	link(rel="stylesheet", type="text/css", href="css/main.css")
	//link(rel="stylesheet", type="text/css", href="css/animate.css")
	link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
	//link(href="img/fav_forest.png" rel="shortcut icon" type="image/x-icon")
	link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="description" content="")
	meta(name="keywords" content="")
	meta(name="author" content="by Andrey Karnaukh")
	script(src="js/libs.min.js")
	script(src="js/common.js")
	script(src="js/components/scrolling.js")