header.header
    section.header__content
        .header__back
        .header__center
            h1.header__caption Hi, <br> I'm Andrew, <br> Web developer.
            //-h2.header__capt Личный сайт веб-разработчика
            ul
                li.header__list Front End Developer /
                li.header__list WordPress
            a(href="#").header__btn Contact me
        .header__bottom
            p.header__bText Learn more about what i do
            a(href="#").header__down
                img(src="img/down-arrow.png" alt="arrow down")
    nav.nav#nav
        a(href="/").nav__link
            .nav__left
                img(src="img/logo.png" alt="logo").nav__logo
        .nav__right#navBars
            i.nav__bar
            i.nav__bar
            i.nav__bar
            i.nav__bar
