main.main
    .main__creativ
        .main__creativItem
            img(src="img/creativity.png", alt="creativity").main__creaImg
            h2.main__creaCapt Creativity
        .main__creativItem
            img(src="img/design.png", alt="design").main__creaImg
            h2.main__creaCapt Design
        .main__creativItem
            img(src="img/infinity.png", alt="infinity").main__creaImg
            h2.main__creaCapt Minimal
    .main__about#about
        .main__abLeft
            h1.main__abCaption About me
            p.main__abSkills Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, numquam.
            p.main__abText Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iure animi enim suscipit sunt mollitia pariatur voluptate doloribus nam quam debitis hic laborum, vitae laudantium culpa labore blanditiis rem? Quaerat earum ad ratione laboriosam quibusdam dignissimos enim rerum et eum, nisi voluptatem aperiam autem dolorem amet repellat odio harum reiciendis!
            p.main__abText Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, molestias. Adipisci aut inventore libero natus ratione cum sit, alias, perferendis qui, id non ab nostrum est in dicta obcaecati accusamus? Quod ducimus sapiente quisquam provident.
        .main__abRight
            .main__abImgCont
                img(src="img/my1.jpg", alt="Me").main__abImg
                .main__abBack
                    div
                        h3.main__abConCapt Contact me
                        .main__abContact    
                            a(href="").main__abLink
                                i.fa.fa-phone
                            a(href="").main__abLink
                                i.fa.fa-skype
                            a(href="").main__abLink
                                i.fa.fa-facebook-square
                            a(href="").main__abLink
                                i.fa.fa-instagram
                            a(href="").main__abLink
                                i.fa.fa-vk


