$BaseWhite:#FFB600;
.header {
    position: relative;
    padding: 20px 20px 0;
    background-color: #fff;
    // min-height: 500px;
    &__content {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        min-height: 500px;
        background-image: url(../img/back411.jpg);
        background-repeat: no-repeat;
        background-size: 120%;
        background-attachment: fixed;
        animation-duration: 15s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-name: backImg;
    }
    @keyframes backImg {
        0% {
            background-size: 120%;
        }
        100% {
            background-size: 100%;
        }
    }
    &__center {
        width: 100%;
        padding: 20px;
        z-index: 10;
    }
    &__caption {
        font-size: (58em/16);
        color: #fff;
        text-shadow: 3px 3px 0 #456;
    }
    &__capt {
        font-size: (28em/16);
        color: rgb(202, 202, 202);
    }
    &__list {
        color: rgb(148, 148, 148);
        font-size: (16em/16);
    }
    &__btn {
        position: relative;
        display: inline-block;
        font-size: (16em/16);
        color: $BaseWhite;
        border: 1px solid $BaseWhite;
        padding: 10px 2rem;
        margin-top: 20px;
        border-radius: 4px;
        text-transform: uppercase;
        transition: 1s ease-out;
        &::before {
            content: "";
            display: block;
            //border-radius: 2px;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $BaseWhite;
            transform: scale(0);
            transition-property: transform;
            transition: .5s ease-out;
        }
        &:hover::before {
            transform: scale(1);
        }
        &:hover {
            color: #000;
        }
    }
    &__bottom {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end
    }
    &__bText {
        color: rgb(219, 219, 219);
    }
    &__down {
        transition: .9s;
        &:hover {
            opacity: .7;
        }
    }
    &__back {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.55);
    }
    /*Здесь короче стили для меню уже*/
    &__menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgb(30, 30, 30);
        z-index: 900;
        display: flex;
        transition: .9s;
        &-active {
            display: none;
            transition: .9s;
        }
    }
    &__menuList {
        width: 60%;
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
        color: rgb(150, 150, 150);
        font-size: (32em/16);
        padding: 10px;
        cursor: pointer;
        &:hover .header__icon {
            width: 40px;
        }
        &:hover .header__iLink {
            color: #fff;
        }
    }
    &__icon {
        display: block;
        width: 0;
        height: 1px;
        margin: 3px 0;
        background: #fff;
        transition: .8s;
    }
    &__iLink {
        padding: 0 20px;
        transition: .8s;
        text-transform: uppercase;
    }
    &__contacts {
        width: 40%;
        color: #fff;
        padding-top: 100px;
        background: rgb(15, 15, 15);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__contBlock {
        display: flex;
        align-items: center;
    }
    &__contCapt {
        color: $BaseWhite;
        padding: 20px;
    }
    &__contIcon {
        display: block;
        color: rgb(150, 150, 150);
        padding: 15px 10px;
        transition: .9s;
        &:hover {
            color: #fff;
        }
    }
    &__contactDuo {
        text-align: center;
    }
    &__contLink {
        font-size: (32em/16);
        color: #fff;
        padding: 10px;
        transition: .8s;
        &:hover {
            opacity: .5;
        }
    }
    &__fixMenu {
        position: fixed;
        width: 150px;
        height: 230px;
        top: 50%;
        right: -150px;
        transform: translateY(-50%);
        background: yellow;
        z-index: 10;
    }
    &__fixBox {
        position: relative;
    }
    &__fixItem {
        position: absolute;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        background: #000;
        color: #fff;
        cursor: pointer;
        transition: .9s;
        padding-left: 15px;
        &:hover {
            right: 95%;
        }
        &:nth-child(2) {
            top: 60px;
        }
        &:nth-child(3) {
            top: 120px;
        }
        &:nth-child(4) {
            top: 180px;
        }
        &::before {
            content: "";
            position: absolute;
            left: -5px;
            display: block;
            width: 5px;
            height: 50px;
            background: $BaseWhite;
        }
        &:nth-child(2)::before {
            background: #ff6200;
        }
        &:nth-child(3)::before {
            background: #00a480;
        }
        &:nth-child(4)::before {
            background: #162eae;
        }
    }
    &__fixLink {
        padding: 5px 10px;
        text-transform: uppercase;
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 901;
    width: 100%;
    height: 100px;
    padding: 0 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .9s;
    &-active {
        background: rgba(0, 0, 0, .74);
        height: 70px;
    }
    &__left {
        position: relative;
        &::after {
            position: absolute;
            content: "KAO Web Design";
            color: #fff;
            font-size: (16em/16);
            font-family: CaviarDreams;
            transition: .8s;
        }
    }
    &__logo {
        max-width: 50px;
        margin-left: 20px;
        float: left;
    }
    &__right {
        margin-right: 20px;
        padding: 5px;
        width: 61px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        cursor: pointer;
    }
    &__right:hover .nav__bar {
        width: 40px;
        background-color: $BaseWhite;
    }
    &__bar {
        display: block;
        width: 45px;
        height: 4px;
        background: #fff;
        margin: 3px;
        border-radius: 3px;
        transition: .9s;
        &:nth-child(2) {
            width: 20px;
        }
        &:nth-child(3) {
            width: 40px;
        }
        &:nth-child(4) {
            width: 30px;
        }
        &-active {
            transition: .9s;
            .nav__bar:nth-child(2),
            .nav__bar:nth-child(3) {
                opacity: 0;
            }
            .nav__bar:first-child {
                transform: rotate(45deg) translateY(21px);
                width: 40px;
                background-color: $BaseWhite;
            }
            .nav__bar:last-child {
                transform: rotate(-45deg) translateY(-21px);
                width: 40px;
                background-color: $BaseWhite;
            }
        }
    }
}