$BasicWhite:rgb(255,255,255);
$SecondWhite:rgba(255,255,255,0.75);
$ThirdWhite:rgba(255,255,255,0.85);
$HoverWhite:rgba(255,255,255,0.7);
$BasicMainFon:rgb(235,235,235);
$BasicBlack:#373e42;
$SecondBlack:rgba(0,0,0,.6);
$WhitePhone:rgb(255,255,255);
$BasicGreen:#87a77b;
$FooterWhite:rgba(255,255,255,0.5);
$SecondFooterWhite:rgba(255,255,255,0.6);